test_instructions.pkl
test_titles.pkl
train_ingredients.pkl
train_instructions.pkl
train_titles.pkl
validation_ingredients.pkl
validation_instructions.pkl
validation_titles.pkl
test_ingredients.pkl
dataset/
__pycache__/
caption_evaluation_results/
caption_evaluation_results2/
dish_title_model/





